.toolbar{

    display:flex;
    justify-content:center;
    gap:15px;
    flex-wrap:wrap;

}

.toolbar button{

    padding:10px 20px;
    border:none;
    background:#2563eb;
    color:white;
    border-radius:6px;
    cursor:pointer;
    transition:.2s;

}

.toolbar button:hover{

    background:#1d4ed8;

}
