.app{

    max-width:1400px;
    margin:auto;
    padding:20px;

}

.editor-container{

    display:flex;
    gap:20px;
    margin-top:20px;

}

@media(max-width:900px){

.editor-container{

    flex-direction:column;

}

}
